/* @font-face kit by Fonts2u (https://fonts2u.com) */
 @font-face {
   font-family: JurassicPark;
   src: url(../fonts/Jurassic_Park.ttf);   
  }


/*
  DIAGNOSTIC STYLING
*/
body {
  background-image: url("https://wallpapercave.com/wp/wp2668809.jpg");
  background-size: cover;
}


/************
LAYOUT
************/
body {
  /* Center to Page   */
  margin: 0 auto;
  max-width: 56em;
  padding: 1em 0;
  
  /* CSS Grid Layout   */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 1em;
}

header,
footer {
  grid-column: 1 / span 5;
}

h5 {
  background-color: rgba(0, 0, 0, 0.9);
}

main {
  grid-column: 1 / span 3;
}

aside {
  grid-column: span 2;
  background-color: rgba(0, 0, 0, 0.9);
}

section {
  background-color: rgba(0, 0, 0, 0.9);
}


/************
HEADER
************/
/* Your Styles */
h1 {
  font-family: 'JurassicPark';
  font-size: 7em;
  color: lightgrey;
  font-weight: normal;
  text-align: center;
  margin-top: -.2vh;
  margin-bottom: -.5vh;
}

h5 {
  color: lightgray;
  font-weight: normal;
  font-family: 'Kanit', sans-serif;
  padding: 1.3em;
}

.word3, .word4 {
  color: orangered;
}


/************
MOVIE TRAILER w/ MEDIA ELEMENT PLAYER
************/
/* Fit <video> to container */
video {
  max-width: 100%;
}

.mejs__currenttime, 
.mejs__duration {
  font-size: 15px;
}

.mejs__time-current {
  background: orangered;
}

/************
ASIDE
************/
aside {
  padding: .5em;
}

aside p {
  color: lightgray;
  font-family: 'JurassicPark';
  font-size: 3em;
  text-align: center;
}

a {
  text-decoration: none;
  color: orangered;
  font-size: 1.3em;
  font-family: 'Kanit', sans-serif;
  text-align: center;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/************
ACTORS
************/
main section { 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Kanit', sans-serif;
  color: lightgray;
  text-align: center;
}

img {
  width: 125px;
  height: 200px;
  object-fit: cover;
  vertical-align: bottom;
}

/************
FOOTER
************/
footer {
  font-family: 'Kanit', sans-serif;
  text-align: center;
  color: lightgray;
}

/************
RWD
************/
@media (max-width: 700px) {

  main,
  aside {
    grid-column: 1 / span 5;
  }
  
}